.JournalHeaderContainer {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.JournalButtonsContainer {
  display: flex;
  gap: 10px;
  height: 40px;
}

.Date {
  font-weight: 100;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin: 0 0 0 0.8rem;
}

.Title {
  font-size: 24px;
}

.TitleContainer {}