.JournalHeaderContainer {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.JournalButtonsContainer {
  display: flex;
  gap: 10px;
  height: 40px;
}

.Date {
  font-weight: 100;
  color: gray;
  margin: 0 0 0 0.8rem;
}