.JournalHeaderContainer {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.JournalButtonsContainer {
  display: flex;
  gap: 10px;
  height: 40px;
}

.Date {
}

.Title {
  font-weight: bold;
  color: #000;
}

.TitleContainer {}