.CardContainer {
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.small {
  padding: 5px 15px;
}

.medium {
  padding: 10px 20px;
}

.big {
  padding: 20px 30px;
}