.button {
  border: none;
  border-radius: 6px;
  background-color: #2e2e2e;
  color: #f3f3f3;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.button svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.button:hover {
  background-color: #3a3a3a;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.warning {
  background-color: rgb(187, 10, 10);
}

.warning:hover {
  background-color: rgb(204, 14, 14);
}

.warning svg {
  fill: #fff;
}

.iconButton {
  background: none;
  padding: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.iconButton:hover {
  border-radius: 50%;
  background: none;
}