.terms_card {
  background-color: #FFF;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  padding: 20px;
}

.terms_card h2 {
  text-align: center;
  margin: 0 0 20px;
}

.terms_text {
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.terms_text p:first-child {
  margin-top: 0;
}

.terms_text p:last-child {
  margin-bottom: 0;
}