.LoginContainer {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer {
    flex-basis: 100%;
    text-align: center;
}

.footer div {
    cursor: pointer;
}

.footer div:hover {
    color: #5b5b5b;
}

.LoginContainer h1 {
    margin-top: 0;
}