.ToasterContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 320px;
  position: absolute;
  background: #FFF;
  border: none;
  border-radius: 6px;
  padding: 10 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
}

.ToasterContainer p {
  line-height: 1;
}

.bottom-left {
  bottom: 20px;
  left: 20px;
}

.bottom-right {
  bottom: 20px;
  right: 20px;
}

.top-left {
  top: 20px;
  left: 20px;
}

.top-right {
  top: 20px;
  right: 20px;
}