.sidebar {
  background-color: #222;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
}

.sidebarItem {
  padding: 10px;
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  gap: 5px;
}

.sidebarItem:hover, .active {
  background-color: #333;
  color: #FFF;
}

.sidebarItem span {
}